@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.notWhite {
  background-color: rgb(254, 254, 254);
}
html, body {
  width: 100vw;
  background-color: #1a191a;
  overflow-x: hidden;
}
.accentCol {
  color: #4287f5;
}
.displayFont {
  font-family: 'Bungee', cursive;
}
.contrast {
  background-color: #281f28;
}
.slightContrast {
  background-color: #171717;
}
.serifFont {
  font-family: 'Roboto Slab', serif;
}
.textCol {
  color: #ddd;
}
